<!doctype html>
<body>
<div>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <div>{{ form.photo.label }}:{{ form.photo }}</div><br>
    <div>{{ form.scale.label }}:{{ form.scale }}</div><br>
    <div>{{ form.cols.label }}:{{ form.cols }}</div><br>
    <div>{{ form.morelevels.label }}:{{ form.morelevels }}</div><br>
    <div>{{ form.edge.label }}:{{ form.edge }}</div><br>
    <button type=submit>Upload</button>
</form>
</div>
</body>
